@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('./fonts/Roboto-Regular.ttf');
}

%font-headers {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    word-spacing: 0.2rem;
}

%font-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
}

%header-padding {
    padding-top: 5%;
    padding-bottom: 5%;
}

%article-style {
  width: inherit;
  scroll-snap-align: center;
  @extend %font-text;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  flex-wrap: nowrap;
  h2 {
    background-color: #ebddcd;
    margin: 3% auto 10% 3%;
  }
  ul {
    border-top: #36383F solid 2px;  
    margin: 0 auto;
    list-style: none;
    width: 95%;
    li {
      margin-top: 5%;
    }
  }
}

::-webkit-scrollbar {
    display: none;
}

.hidden {
    display: none !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: 0;
}

.header {
    z-index: 1;
    position: sticky;
    top: 0px;
    max-width: 576px;
    width: 100vw;
}

.main {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    max-width: 576px;
    width: 100vw;
    height: 100%;
}

.header-menu-wrapper {
    height: 100%;
}

.header-menu-main {
    @extend %font-headers;
    display: flex;
    align-content: space-between;
    background-color:  #ebddcd;
}

#header-menu-checkbox {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #header-menu-checkbox input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #header-menu-checkbox span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s ease-in,
                background 0.5s ease-in,
                opacity 0.55s ease;
  }
  
  #header-menu-checkbox span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #header-menu-checkbox span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #header-menu-checkbox input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }
  #header-menu-checkbox input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #header-menu-checkbox input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    border-bottom-right-radius: 15px;
    position: absolute;
    width: fit-content;
    height: 60vh;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #ebddcd;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

#menu li {
    border: #85888C solid 2px;
    margin-top: 5px;
    border-radius: 10px;
    list-style: none;
    padding: 10px 0;
    transition-delay: 2s;
    a{
      color: #000;
    }
    & :hover {
      background-color: #85888C;
    }
  }


#header-menu-checkbox input:checked ~ ul {
    transform: none;
  }

.menu-title {
    @extend %header-padding;
    padding-top: 3%;
    margin-right: 3%;
    margin-left: auto;
}

.main-wrapper {
    background-color: #f1ede8;
    max-width: 576px;
    width: 100vw;
    height: 100vh;
}

.body-main-menu {
  scroll-snap-align: start;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      @extend %font-text;
      margin: 5% 5%;
    }
}

.body-main-image {
    margin-top: 10px;
    width: 100%;
    height: 60%;
    filter: blur(3px);
    img {
      margin-top: 10px;
      width: 100%;
      height: 100%;
    }
}

.body-main-direction {
    height: 10%;
	        -webkit-animation: jello-horizontal 1.5s infinite both;
	        animation: jello-horizontal 1.5s infinite both;
}

 @-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.body-main-title {
  height: 10%;
  @extend %font-headers;
  margin-top: 6%;
  font-weight:600;
  letter-spacing: 0.2rem;
}

.article-container {
  @extend %header-padding;
  background-color: inherit;
  width: 100%;
}

.first-article {
  height: 92vh;
  @extend %article-style;
}

.second-article {
  height: 92vh;
  @extend %article-style;
}

.third-article {
  height: 92vh;
  @extend %article-style;
  p {
    border-top: #85888C solid 2px;
    line-height: 1.5em;
    margin: 5% auto;
    width: 95%;
  }
}